*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:#dddddd;
    display:flex;
    justify-content:center;
    padding:10px;
}


.phone{
    width:100%;
    max-width:360px;
    background:#f5f5f5;
    padding:15px;
}


.greeting p{
    color:#666;
    font-weight:bold;
}


.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.top h1{
    color:#43a047;
    font-size:34px;
}


.profile{
    width:35px;
    height:35px;
    background:#43a047;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}


.banner{
    background:#dff0d8;
    border-radius:12px;
    padding:12px;
    display:flex;
    margin-top:10px;
}


.text h2{
    color:#333;
}


.text span{
    color:#43a047;
}


.text p{
    font-size:12px;
    margin:8px 0;
}


button{
    background:#43a047;
    color:white;
    border:none;
    border-radius:20px;
    padding:8px 15px;
}


.truck{
    font-size:70px;
}


.card{
    background:white;
    margin-top:10px;
    border-radius:12px;
    padding:12px;
}


.title{
    display:flex;
    justify-content:space-between;
    font-weight:bold;
}


.title span{
    background:#c8e6c9;
    color:#4caf50;
    padding:4px 8px;
    border-radius:20px;
    font-size:10px;
}


.details{
    display:flex;
    justify-content:space-between;
    margin-top:12px;
    gap:8px;
}


.details p{
    color:#666;
    font-size:12px;
}


.details h3{
    color:#43a047;
}


.details h4{
    color:#43a047;
    font-size:14px;
}


.reminder{
    margin-top:10px;
    border:1px solid #ff9800;
    background:#fff3e0;
    border-radius:12px;
    padding:10px;
    display:flex;
    justify-content:space-between;
    gap:10px;
}


.reminder p{
    font-size:11px;
}


.reminder button{
    background:#ff9800;
    font-size:12px;
}


.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:8px;
    margin-top:10px;
}


.box{
    background:white;
    border-radius:10px;
    padding:12px;
    font-size:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.section{
    margin:12px 0 8px;
    font-size:22px;
}


.waste{
    display:flex;
    gap:8px;
}


.type{
    flex:1;
    border-radius:15px;
    padding:8px;
    min-height:90px;
}


.green{
    background:#d9f5dd;
    border:1px solid #4caf50;
}


.blue{
    background:#dde9ff;
    border:1px solid #448aff;
}


.gray{
    background:#eeeeee;
    border:1px solid #999;
}


.type h4{
    font-size:12px;
}


.type p{
    margin-top:5px;
    font-size:11px;
}


.notice{
    margin-top:10px;
    background:#ffebee;
    border:1px solid red;
    border-radius:15px;
    padding:10px;
    display:flex;
    justify-content:space-between;
}


.notice small{
    color:red;
}


.notice h3{
    margin:4px 0;
}


.notice p{
    font-size:11px;
}


.notice button{
    background:#d32f2f;
    margin-top:8px;
}


.calendar{
    font-size:50px;
}


nav{
    margin-top:15px;
    display:flex;
    justify-content:space-around;
    text-align:center;
    font-size:12px;
}


.active{
    color:#43a047;
}


@media(max-width:320px){

    .top h1{
        font-size:26px;
    }

    .truck{
        font-size:50px;
    }

    .details{
        flex-direction:column;
    }

    .waste{
        flex-direction:column;
    }

}